
body
{
    background: #efefef none repeat scroll 0 0;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

.wrapper
{
    margin: 0 auto;
}

#main .wrapper
{
    background: #ffffff none repeat scroll 0 0;
    width: 100%;
}

.content-inner.clearfix
{
    float: left;
    width: 100%;
}

.middleRepeatY
{
}

#topBar
{
    position: relative;
    z-index: 999;
    background: rgba(0, 0, 0, 0) url("/img/topbarpng.png") repeat scroll 0 0;
}

    #topBar a
    {
        color: #fff;
        font-size: 12px;
        margin: 8px 0;
    }

        #topBar a:hover
        {
            color: wheat;
            text-decoration: none;
        }

    #topBar .wrapper
    {
        width: 1170px;
    }

ul.toolbar-cus
{
    float: right;
}

    ul.toolbar-cus li
    {
        float: left;
        list-style:none;
    }

        ul.toolbar-cus li:first-child
        {
        }

    ul.toolbar-cus li
    {
        padding-left: 2px;
    }

#topBar a#btnLogout
{
    background: rgba(0, 0, 0, 0) url("Images/lisp.png") no-repeat scroll left center;
    padding-left: 10px;
}

ul.toolbar-cus li a
{
    display: block;
    float: left;
    padding: 0 10px;
    text-decoration: none;
}

ul.toolbar-cus li:last-child a
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

ul.toolbar-cus li a:hover
{
    text-decoration: underline;
}
.bar_cart
{
    display: inline-block!important;
}

    .bar_cart > a
    {
        background: rgba(0, 0, 0, 0) url("/img/buy2.png") no-repeat scroll 10px 5px !important;
        border: 1px solid #fff;
        border-radius: 12px;
        display: block;
        height: 18px;
        margin-top: 5px !important;
        padding: 2px 12px !important;
        position: relative;
        width: 28px;
    }

a .counter
{
    position: absolute;
    right: 10px;
}
