<div class="header">
    <div class="wrap">
        <div class="navbar navbar_ clearfix">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="logo">
                            <a href="/Home/Index">
                                <img src="/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="follow_us">
                            <ul>
                                <li><a href="https://www.facebook.com/NamCkiku" class="facebook" data-original-title="">Facebook</a></li>
                                <li><a href="https://www.instagram.com/" class="vimeo" data-original-title="">Vimeo</a></li>
                                <li><a href="https://www.tumblr.com/login" class="tumbrl" data-original-title="">Tumbrl</a></li>
                                <li><a href="https://twitter.com/" class="twitter" data-original-title="">Twitter</a></li>
                                <li><a href="https://delicious.com/" class="delicious" data-original-title="">Delicious</a></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                        <nav id="main_menu">
                            <div class="menu_wrap">
                                <ul class="nav sf-menu sf-js-enabled">
                                    <li class="current"><a href="/Home/Index">Trang Chủ</a></li>
                                    <li class="sub-menu"><a href="javascript:{}">Sản Phẩm</a>
                                        <ul style="display: none;">
                                            <li><a href="scaffolding.html"><span>-</span>Thời Trang Nam</a></li>
                                            <li><a href="typography.html"><span>-</span>Thời Trang Nữ</a></li>
                                            <li><a href="shortcodes.html"><span>-</span>Mẹ & Bé</a></li>
                                            <li><a href="tables.html"><span>-</span>Phụ Kiện</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a href="javascript:{}">Tin Tức</a>
                                        <ul style="display: none;">
                                            <li><a href="portfolio_2columns.html"><span>-</span>Thời Trang Trong Nước</a></li>
                                            <li><a href="portfolio_3columns.html"><span>-</span>Thời Trang Quốc Tế</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a href="javascript:{}">Đăng Nhập</a>
                                        <ul style="display: none;">
                                            <li><a href="/Admin/Login/Login"><span>-</span>Đăng Nhập</a></li>
                                            <li><a href="blog_post.html"><span>-</span>Đăng Kí</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contacts.html">Liên Hệ</a></li>
                                    <li><a href="about.html">Giỏ Hàng</a></li>
                                </ul>
                               @* <select>
                                    <option selected="selected" value="">Please choose page</option>
                                    <option value="index.html">Home</option>
                                    <option value="about.html">About</option>
                                    <option value="javascript:{}">Features</option>
                                    <option value="scaffolding.html">-Scaffolding</option>
                                    <option value="typography.html">-Typography</option>
                                    <option value="shortcodes.html">-Shortcodes</option>
                                    <option value="tables.html">-Tables</option>
                                    <option value="javascript:{}">Portfolio</option>
                                    <option value="portfolio_2columns.html">-2 Columns</option>
                                    <option value="portfolio_3columns.html">-3 Columns</option>
                                    <option value="portfolio_4columns.html">-4 Columns</option>
                                    <option value="javascript:{}">Blog</option>
                                    <option value="blog.html">-Blog with right sidebar</option>
                                    <option value="blog_post.html">-Blog post</option>
                                    <option value="contacts.html">Contacts</option>
                                </select>*@
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
