@{
    ViewBag.Title = "XacNhan";
    Layout = "~/Views/Layout/_Layout.cshtml";
}
<div class="Shopcart-step clearfix" id="head_step">
    <ul class="clearfix">
        <li class="fl"><a href="javascript:void(0);" id="header_step01" ><span class="textnumber">1.</span><span class="txtpadding">Thông tin đơn hàng</span></a></li>
        <li class="fl"><a href="javascript:void(0);" id="header_step02"><span class="textnumber">2.</span><span class="txtpadding">Thông tin khách hàng</span></a></li>
        <li class="fl"><a href="javascript:void(0);" id="header_step03" class="selected"><span class="textnumber">3.</span><span class="txtpadding">Xác nhận</span></a></li>
    </ul>
</div>
<div class="alert alert-success">
    Bạn Vừa Đặt Hàng Thành Công
</div>
